<%= content_for :title, "About"%>

<div class="row">
  <div class="small-8 columns">
  	<h2>About Us</h2>
   	<p>Audeecon is a graduation thesis project belongs to the group of Le Thai Phuc Quang(phuc.quang102@gmail.com) and Giang Chi Thuan(gcthuan118@gmail.com).
       We studied in Advanced Program in Computer Science at Ho Chi Minh University of Science from 2011 to 2015.
    </p>
  </div>
  <div class="small-4 columns">
    
    
  </div>
</div>