<%= content_for :title, "List of APIs"%>

<div class="row">
  <div class="small-12 columns">
  	<h2>List of available APIs</h2>
  	<table>
  	  <thead>
  	  	<tr>
  	  	  <th>URL</th>
  	  	  <th>GET</th>
  	  	  <th>POST</th>
  	  	  <th>PUT</th>
  	  	  <th>DELETE</th>
  	  	</tr>
  	  </thead>
  	  <tbody>
  	  	<tr>
  	  	  <td>url of api here</td>
  	  	  <td>action of GET</td>
  	  	  <td>action of POST</td>
  	  	  <td>action of PUT</td>
  	  	  <td>action of DELETE</td>
  	  	</tr>
  	  </tbody>
  	</table>
  </div>
</div>