<%= content_for :title, "Demo" %>
<h2 class="header">A short demo of Audeecon in action</h2>
<div class="row">
  <div class="small-12 columns">
	<div class="flex-video">
  		<iframe width="560" height="315" src="https://www.youtube.com/embed/J9Fd8v19bbc" frameborder="0" allowfullscreen></iframe>
	</div>
  <div>
</div>