<% content_for :title, "Audeecon Home" %>
  <body>
    <div class="row">
      <div class="small-8 columns">
        <p>
          Some introduction about Audeecon here
        </p>
      </div>
      <div class="small-4 columns">
        <p>A promo picture here</p>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
